.java-node{
    background-color: rgb(216, 216, 236);
    margin-top: 10px;
   
}
.java-node p{
    padding: 0 30px 10px 50px; 
    
   
}

.sql-nosql{
    background-color: bisque;
    margin-bottom: 20px;
    
   
}
.sql-nosql p{
    padding: 0 30px 3px 50px; 
    
   
}

h2 {
    margin-left: 40px;  
}

h5 {
    margin-left: 40px;
     
}




.jwt{
    background-color: rgb(219, 219, 152);
}

.jwt p{
    padding: 0 30px 3px 50px; 
    font-weight: 600;
}

.node{
    background-color: rgb(152, 203, 219);
}

.node p{
    padding: 0 30px 3px 50px; 
    font-weight: 600;
}

